* {
  box-sizing: border-box;
  margin: 0;
}



/* Header */

.left-header {
  display: flex;
}

.right-container {
  position: absolute;
  display: flex;
}

li {
  transform: translateY(90%);
  margin-right: 18px;
}

.nav-btn {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  
  font-size: 14px;
  font-family: sans-serif;
}

.home{
  font-weight: 700;
}

.nav-container {
  display: flex;
  align-items: flex-start;
  
}

.logo {
  margin-left: 3em;
  height: 4.2em;
  width: 7em;
  
}

.header-container {
  background-color: #000;
  height: 68px;
  position: fixed;
  width: 100%;
}

.right-header {
  /* position: absolute; */
  margin-left: 1030px;
  /* margin-top: 10px; */
}

img {
  color: #fff;
}

.right-btn {
  font-size: 1.3em;
  margin: 0px 6px 0px 6px;
}

.glass {
  transform: rotate(-20deg);
  display: block;
  font-size: 1.3em;
  /* margin-bottom: -10px; */
}




.nav-btn:hover {
  filter: brightness(75%);
}

.profile-icon {
  height: 32px;
  width: 32px;
  border-radius: 4px;
  border: 0;
  display: flex;
  margin-top: -26px;
}

.caret {
  position: absolute;
  color: #fff;
  top: 10%;
  left: 133%;
  cursor: pointer;
  font-size: 13px;
}

.dvd {
  font-weight: 600;
  display: flex;
  margin-bottom: -35px;
}



/*  */

/* Popup */
.popup-container {
  position: fixed;
  
  
}

.popup-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #111;
  left: 1680px;
  padding: 0.8rem 0.6rem;
  margin: 0;
  width: 145px;
  border-bottom: 1px solid #fff;

}

.profile-link {
  display: flex;
  align-items: center;
  padding: .5em;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.profile-pic {
  margin-right: 10px;
  margin-top: 5px;
}

.profile-link:hover {
  text-decoration: underline;
}




/*  */