* {
  box-sizing: border-box;
}

body {
  line-height: 1.2;
}

/* Header */

.left-header {
  display: flex;
}

.right-container {
  position: absolute;
  display: flex;
}

li {
  transform: translateY(43%);
  margin-right: 18px;
}

.nav-btn {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  
  font-size: 14px;
  font-family: sans-serif;
}

.home{
  font-weight: 700;
}

.nav-container {
  display: flex;
  align-items: flex-start;
}

.logo {
  margin-left: 3em;
  height: 4.2em;
  width: 7em;
  
}

.header-container {
  background-color: #000;
  height: 68px;
  position: relative;
}

.right-header {
  /* position: absolute; */
  margin-left: 1050px;
}

img {
  color: #fff;
}

/*  */