* {
  box-sizing: border-box;
  margin: 0;
}


body {
  background-color: #111;
}



/* Header */

.left-header {
  display: flex;
  
}

.right-container {
  position: absolute;
  display: flex;
}

li {
  transform: translateY(90%);
  margin-right: 18px;
}

.nav-btn {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  font-family: sans-serif;
}

.home{
  font-weight: 700;
}

.nav-container {
  display: flex;
  align-items: flex-start;
  
}

.left-nav {
  list-style: none;
}

.logo {
  margin-left: 3em;
  height: 4.2em;
  width: 7em;
  
}

.header-container {
  background-color: transparent;
  animation-name: upAnim;
  animation-duration: 1.3s;
  height: 68px;
  position: fixed;
  width: 100%;
  z-index: 100;
}




.header-container.scrolled {
  background-color: rgb(20, 20, 20);
  animation-name: downAnim;
  animation-duration: .3s;
}

/* Animation for nav bar */

    /* Up animation */
@keyframes upAnim {
  from { background-color: rgb(20, 20, 20);}
  to { background-color: transparent}
}


    /* Down animation */
@keyframes downAnim {
  from { background-color: rgb(20, 20, 20);}
  to { background-color: rgb(20, 20, 20);}
}


/*  */

.right-header {
  /* position: absolute; */
  margin-left: 1030px;
  /* margin-top: 10px; */
}

img {
  color: #fff;
}

.right-btn {
  font-size: 1.3em;
  margin: 0px 6px 0px 6px;
}

.glass {
  transform: rotate(-20deg);
  display: block;
  font-size: 1.3em;
  /* margin-bottom: -10px; */
}




.nav-btn:hover {
  filter: brightness(70%);
}

.profile-icon {
  height: 32px;
  width: 32px;
  border-radius: 4px;
  border: 0;
  display: flex;
  margin-top: -26px;
}

.caret {
  position: absolute;
  color: #fff;
  top: 10%;
  left: 133%;
  cursor: pointer;
  font-size: 13px;
}

.caretUp {
  animation: caretUp .3s;
  animation-fill-mode: forwards;
}

@keyframes caretUp {
  from {transform: rotate(0deg);}
  to { transform: rotate(180deg);}
}

.caretDown {
  animation: caretDown .3s;
  animation-fill-mode: forwards;
}

@keyframes caretDown {
  from {transform: rotate(180deg);}
  to { transform: rotate(0deg);}
}




.dvd {
  font-weight: 600;
  display: flex;
  margin-bottom: -35px;
}



/*  */

/* Popup */
.popup-container, .notdisplayed {
  display: none;
  
}

.popup-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  left: 1680px;
  padding: 0.8rem 0rem;
  margin: 0;
  width: 170px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  outline: 1px solid rgb(65, 62, 62);
}

.account-container {
  border-top: .1em solid rgb(65, 62, 62);
  border-bottom: .1em solid rgb(65, 62, 62);
  width: 100%;
  padding: 2px;
}


.profile-link {
  display: flex;
  align-items: center;
  padding: .5em;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.profile-pic {
  margin-right: 10px;
  margin-top: 5px;
}

.profile-link:hover {
  text-decoration: underline;
}

.displayed, .popup-container {
  position: fixed;
  
  animation: popupAnim .2s;
  display: flex;
}

@keyframes popupAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.pencil {
  font-size: 19px;
  justify-content: center;
  color: gray;
}

.sign-out {
  padding: 8px;
  font-size: 13px;
}



/*  */

/* Main */

.movie-container {
  position: relative;
  z-index: -1;
  
  
}
.movie-img {
  width: 100%;
  z-index: 1;
  filter: brightness(80%);
  
}

.movie-container:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, .5); */
  box-shadow: inset 10px 24px 40px 0px rgba(0, 0, 0, .6), 
  inset -10px -24px 40px 100px rgba(0, 0, 0, .4), 
  inset 30px -200px 100px 0px rgba(0, 0, 0, 1), 
  inset -20px 70px 40px 0px rgba(0, 0, 0, .4);
  
  position: absolute;
  top: 0; left: 0;
}


.movie-descrip {
  z-index: 100;
}


.movie-info {
  position: absolute;
  top: 28%;
  left: 5%;
  
}
.movie-logo {
  width: 36%;
}

.movie-synopsis {
  width: 50%;
  color: #fff;
  font-weight: 400;
  line-height: normal;
  font-size: 1.2vw;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,.45);
  cursor: default;
}

.main-btns{
  margin-top: 1.5vw;
}

.main-play {
padding: .8rem 2.4rem .8rem 2rem;
font-family: sans-serif;
font-size: 1.6rem;
font-weight: bold;
border: none;
border-radius: 4px;
margin-right: .8em;
cursor: pointer;
}

.play-icon {
  font-size: 30px;
  line-height: 0;
  justify-content: center;
  margin-right: 20px;
}

.more-info {
 
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  margin-right: 1em;
  padding: .8rem 2.4rem .8rem 2rem;
  cursor: pointer;
  background-color: rgba(109, 109, 110, 0.9);
  color: #fff;
}

.more-info:hover {
    background-color: rgba(83, 83, 83, 0.9);
}



/*  */